[submodule "plugs/coc.nvim"]
	path = plugs/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "plugs/molokai"]
	path = plugs/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "plugs/tagbar"]
	path = plugs/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "plugs/vim-airline"]
	path = plugs/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "plugs/vim-airline-themes"]
	path = plugs/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
